@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

body {
  background-color: #6786a6;
  background-image: linear-gradient(135deg, #6786a6 0%, #6e71b5 100%);
}

::selection {
  color: #fff;
  background: #007bff;
}

.golden {
  color: #d4af37;
}

.red {
  color: #dc3545;
}

.startBtn,
.quiz-container,
.result-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nextQuestionBtn {
  background-color: #6786a6;
  color: #fff;
  border: none;
}

.startBtn button:hover {
  background: #23903c;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.quiz-container.activeQuiz,
.result-container.activeResult {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.startBtn button {
  font-size: 25px;
  font-weight: 500;
  color: #000;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

.quiz-container {
  width: 700px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.quiz-container header {
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz-container header .title {
  font-size: 20px;
  font-weight: 600;
}

.quiz-container header .timer {
  color: #000;
  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
}

.quiz-container header .timer .timeLeft {
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}

.quiz-container header .timer .timerSecs {
  font-size: 18px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
}

section {
  padding: 25px 30px 20px 30px;
  background: #fff;
}

section .currentQuestionText {
  font-size: 25px;
  font-weight: 600;
}

section .options {
  padding: 20px 0px;
  display: block;
}

section .options .option {
  border: 1px solid #9b9da0;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 17px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .options .option:last-child {
  margin-bottom: 0px;
}

section .options .option:hover {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}

section .options .option.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

section .options .option.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

section .options .option.disabled {
  pointer-events: none;
}

section .options .option .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
}
.options .option .icon.tick {
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}

.options .option .icon.cross {
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}

footer {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

footer .totalCount span {
  display: flex;
  user-select: none;
}

footer .totalCount span p {
  font-weight: 500;
  padding: 0 5px;
}

footer .totalCount span p:first-child {
  padding-left: 0px;
}

footer button {
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background: #007bff;
  border: 1px solid #007bff;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

footer button:hover {
  background: #0263ca;
}

footer button.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.result-container {
  background: #fff;
  border-radius: 5px;
  display: flex;
  padding: 25px 30px;
  width: 450px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.result-container .icon {
  font-size: 100px;
  margin-bottom: 10px;
}

.result-container .complete_text {
  font-size: 20px;
  font-weight: 500;
}

.result-container .score span {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.result-container .score span p {
  padding: 0 4px;
  font-weight: 600;
}

.result-container .buttons {
  display: flex;
  margin: 20px 0;
}

.result-container .buttons button {
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: 1px solid #6786a6;
  transition: all 0.3s ease;
}

.buttons button.restart {
  color: #fff;
  background: #6786a6;
}

.buttons button.restart:hover {
  background: #0263ca;
}

.buttons button.quit {
  color: #6786a6;
  background: #fff;
}

.buttons button.quit:hover {
  color: #fff;
  background: #007bff;
}
